<!DOCTYPE html>
<html ng-app = "todoApp">
  <head>
    <title>Todo</title>
      <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <p><center><br><font size = "72"><font face = "Castellar">TODO</font></font></br></center></p>

  <body>
  <div ng-controller="AddData">
    <form>
        <div
        <div class="form-group">
          <p><center><label for="Title"><font face = "Book antiqua">Search</font></label></center></p>
          <center><input type="text" class="form-control" id="Title" style="width:500px;" ng-model="title" ><center>
        </div>
        <center><button type="submit" class="btn btn-info " ng-click="add()" ><font face = "Book antiqua">Add contact</font></button></center>
    </form>
  </div>

    <div class="container">
      <div ng-controller="ListData">
        <table class="table table-hover">

            <thead>
              <tr>
                <th>     </th>
                <th><font face = "Book antiqua">Title</font></th>
                <th><font face = "Book antiqua">Done</font></th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="tType in todo" >
                <td><input type="checkbox" ng-model="tType.done" ng-checked="tType.done === true" >
                   <td>{{ tType.title }}</td>
                   <td><div ng-if="tType.done">Complete !</div></td>
               </tr>
           </tbody>

        </table>
      </div>
    </div>


    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/angular/angular.js" charset="utf-8"></script>
    <script src="todoapp.js"></script>

  </body>
</html>
