<!DOCTYPE html>
<html ng-app = "todoApp">
  <head>
    <title>Todo</title>
      <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>


  <body>
    <div class="container">
      <div ng-controller="ListData">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>     </th>
              <th>Title</th>
              <th>Done</th>
            </tr>
          </thead>


          <tbody>
              <tr ng-repeat="nameType in todo" >
                 <td><input type="checkbox" ng-model="cb" ng-true-value="'Complete'"ng-false-value="' '" ></td>
                 <td>{{ nameType.name }}</td>
                 <td>{{ cb }}</td>
               </tr>
           </tbody>
        </table>
      </div>
    <div>



      <div ng-controller="AddData">
      <form>
          <div
          <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" class="form-control" id="Title" placeholder="Title" ng-model="name">
          </div>

          <button type="submit" class="btn btn-default " ng-click="add()" >Add contact</button>

      </form>
    </div>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/angular/angular.js" charset="utf-8"></script>
    <script src="todoapp.js"></script>

  </body>
</html>
